html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  padding:10px 0;
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  padding:5px 0;
}

small {
  font-size: 14px;
  font-style: italic;
}



#map_canvas { height: 100% }

#mapquest-shoutout {
  position: absolute;
  bottom: 30px;
  right: 0px;
  background: rgba(255,255,255,0.85);
  padding: 5px 10px;
}

.hide {
  display: none;
}

.loading {
  position: absolute;
  z-index: 5;
  top:40%;
  left:0;
  width:100%;
  text-align: center;
  color: #fff;
}
  .loading .loadingText {
    /* Super-quick overlay view */
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6);

    background: rgba(0,0,0,.9);
    font-size: 24px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

#map_canvas { height: 100% }

.overlay {
  position:fixed;
  background:rgba(255, 255, 255, 0.96);
  border:1px solid #aaa;
  padding:20px;
  z-index:5;
}

#searchRegion {
  width:150px;
  max-height: 700px;
  left:100px;
  top:20px;

  overflow: auto;
}


.resultList {
  left:40px;
  bottom:150px;
}
.result {
  list-style:none;
  border-bottom:1px solid #ccc;
  padding:10px;
  cursor: pointer;
}
.result:hover {
  background:#006;
  color:#fff;
}
